body{
    margin: 0;
    padding: 0;
    background-image: url("photo-1509226704106-8a5a71ffbfa4.jpg");   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}